sudo: false
cache: bundler
before_install: gem update bundler --no-document

rvm:
  - 1.9.3
  - 2.0.0
  - 2.1
  - 2.2
  - 2.3
  - jruby
  - ruby-head

matrix:
  fast_finish: true
  allow_failures:
    - rvm: ruby-head

notifications:
  email: false
  irc:
    on_success: change
    on_failure: always
    channels:
      - "irc.freenode.org#rails-contrib"
  campfire:
    on_success: change
    on_failure: always
    rooms:
      - secure: "HnqK+r2/SLv2Z1XMkL0oNO0w/xaUn9cGHpr2mGDNnk+SUz1XBO2bu5c0ykyAVnLienFPCDExX3RYwTMNvC4AhkAR8DK0v4FD+0g/dMy2j1wGzQlNtqF2B4EbRpVpZtmM3hK6dDNRR3V/zipqTkut00PoFPp/Bzm7DoH/w/MIPBY="
