# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.
# This workflow will download a prebuilt Ruby version, install dependencies and run tests with Rake
# For more information see: https://github.com/marketplace/actions/setup-ruby-jruby-and-truffleruby

name: build

concurrency:
  group: "${{github.workflow}}-${{github.ref}}"
  cancel-in-progress: true

on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:

jobs:
  test:
    name: "activesupport ${{ matrix.activesupport }} / ruby ${{ matrix.ruby }}"
    runs-on: ubuntu-20.04
    strategy:
      fail-fast: false
      matrix:
        include:
          # rails 5.2
          - { activesupport: "5.2", ruby: "2.5" }
          - { activesupport: "5.2", ruby: "2.6" }
          # rails 6.0
          - { activesupport: "6.0", ruby: "2.5" }
          - { activesupport: "6.0", ruby: "2.6" }
          - { activesupport: "6.0", ruby: "2.7" }
          # rails 6.1
          - { activesupport: "6.1", ruby: "2.5" }
          - { activesupport: "6.1", ruby: "2.6" }
          - { activesupport: "6.1", ruby: "2.7" }
          - { activesupport: "6.1", ruby: "3.0" }
          - { activesupport: "6.1", ruby: "3.1" }
          - { activesupport: "6.1", ruby: "3.2" }
          - { activesupport: "6.1", ruby: "ruby-head" }
          - { activesupport: "6.1", ruby: "jruby" }
          # rails 7.0
          - { activesupport: "7.0", ruby: "2.7" }
          - { activesupport: "7.0", ruby: "3.0" }
          - { activesupport: "7.0", ruby: "3.1" }
          - { activesupport: "7.0", ruby: "3.2" }
          - { activesupport: "7.0", ruby: "ruby-head" }
          - { activesupport: "7.0", ruby: "jruby" }
    env:
      BUNDLE_GEMFILE: gemfiles/active_support_${{ matrix.activesupport }}.gemfile
    steps:
    - uses: actions/checkout@v2
    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby }}
        bundler-cache: true
    - run: bundle exec rake
