# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.
# This workflow will download a prebuilt Ruby version, install dependencies and run tests with Rake
# For more information see: https://github.com/marketplace/actions/setup-ruby-jruby-and-truffleruby

name: build

concurrency:
  group: "${{github.workflow}}-${{github.ref}}"
  cancel-in-progress: true

on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:

jobs:
  test:
    runs-on: ubuntu-20.04
    strategy:
      fail-fast: false
      matrix:
        ruby:
          - '3.1'
          - '3.0'
          - '2.7'
          - '2.6'
          - '2.5'
          - ruby-head
          - jruby
        activesupport:
          - '7.0'
          - '6.1'
          - '6.0'
          - '5.2'
        exclude:
          - ruby: '2.5'
            activesupport: '7.0'
          - ruby: '2.6'
            activesupport: '7.0'
          - ruby: '2.7'
            activesupport: '5.2'
          - ruby: '3.0'
            activesupport: '5.2'
          - ruby: '3.0'
            activesupport: '6.0'
          - ruby: '3.1'
            activesupport: '5.2'
          - ruby: '3.1'
            activesupport: '6.0'
          - ruby: ruby-head
            activesupport: '5.2'
          - ruby: ruby-head
            activesupport: '6.0'
          - ruby: ruby-head
            activesupport: '6.1'
          - ruby: jruby
            activesupport: '7.0'
    env:
      BUNDLE_GEMFILE: gemfiles/active_support_${{ matrix.activesupport }}.gemfile
    steps:
    - uses: actions/checkout@v2
    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby }}
        bundler-cache: true
    - run: bundle exec rake
